.card-column {
    margin-bottom: 10rem;
}

.card-container {
    height: 200px;
    text-align: center;

    .card-link {
        text-decoration: none;
        color: inherit;
    }

    img {
        border-radius: 100%;
        width: 125px;
        position: relative;
        top: 4rem;
    }

    .card-details {
        padding-top: 5rem;
        padding-bottom: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .card-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
        padding: 0 1rem 0 1rem;
    }

    .card-author {
        font-size: 14px;
        color: #666;
        font-style: italic;
    }
}